@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:700') ;

body{
	 margin: 100px;
}

.d-flex {
	margin: 50px;
	border:1px solid #ddd;
	overflow: hidden;
}

.p-2 {
	position: relative;
	overflow: hidden;
}
.text-area {
	position: absolute;
	bottom:0;
	left: 0;
	right: 50%;
	width: 100%;
	height: 25%;
	text-align: center;
	background-color: rgba(0,0,0,0.8);
	z-index: 1;
	opacity: 0;
	transition: all .3s ease-in;
	transform: translateY(100%);
	display: table;
	color:#fff;
}
.text-area p {
	display:table-cell;
	font-size: 10px;
	padding: 5px;
	vertical-align: middle;
}
.text-area :nth-child(2){
	color: #fff;
}
.text-area :first-child{
	font-style: italic;
	text-decoration: line-through;
	color: #9b9b9b;
	text-decoration-color: red;
}

.item {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 50%;
	width: 100%;
	height: 20%;
	text-align: center;
	z-index: 1;
	transition: all .1s ease-in;
	visibility: visible;
	background-color : rgba(255,255,255,0.8);
}

.p-2:hover .text-area {
	opacity: 1;
	transform: translateY(-20px);
}

.p-2:hover .item {
	visibility: hidden;
	transform: translateY(0);
}

.p-2:hover .brand-img p {
	color:#f49140;
}

.p-2:hover {
	transform: scale(1.05);
}

.p-2 {
	padding: 0px !important;
}

.discount{
	position: absolute;
	color:#fff;
	text-align: center;
	margin: 2px;
	font-size: 15px;
	background: green;
	opacity: 0.7;
	display: table-cell;

}

.brand-img {
	position: absolute;
	width: 100%;
	height: 20px;
	background-color: #fff;
	bottom: 0;
	left: 0;
	right: 50%;
	opacity: 0.8;
}

.brand-img p {
	margin: -2px;
	text-align: center;
	font-size: 15px;
	color: #222;
	font-family: 'PT Sans', sans-serif;
}

.discount-xsm {
	width: 45%;
	height: 25px;
	border-radius: 20%;
}

.discount-sm{
	height: 30px;
	width: 25%;
	border-radius: 20%;
}
.discount-sm p {
	margin-top: 5px;
}

.discount-xl {
	height: 40px;
	width: 25%;
	border-radius: 20%;
}

.discount-xl p{
	margin-top: 5px;
}
.on-banner {
	width: 1100px;
	height: 130px;
}

.on-banner-sm {
	width: 300px;
	height: 250px;
}
.on-banner-xl {
	width: 300px;
	height: 600px;
}

.on-banner  img {
	height: 130px;
}

.on-banner-sm  img {
	height: 250px;
	width: 148px;
}

.on-banner-xl  img {
	height: 600px;
	width: 100%;
}

.on-banner-sm p {
	font-size: 15px;
}

.on-banner-xl p {
	font-size: 20px;
}

.item :first-child {
	font-family: 'PT Sans', sans-serif;
	padding-top: 40px;
	color:#333;
	font-size: 15px;
	text-decoration: underline;
	text-decoration-style: solid;
}

.item :last-child {
	font-size: 13px;
	color: #666;
}

  /*
 	Flexbox Css kullanılacak
Boyutlar
300x250
300x600
1100x130 
  */
